.navbar{
    width:100%;
     display:flex;
    justify-content:space-between;
    position:fixed;
    font-size:14px;
    color:#e5e5e5;
    padding:20px 6%;
    background-image:linear-gradient(180deg,rgba(0,0,0,0.7) 10%, transparent);
    z-index:1;
}
.navbar-left{
    display:flex;
    align-items:center;
    gap:50px;
}
.navbar-left ul{
 display:flex;
 gap:20px;
 list-style-type:none;
}

.navbar-left ul li{
    cursor: pointer;
}
.navbar-left img{
    width:90px;
}
.navbar-right{
    display:flex;
    gap:20px;
    align-items:center;
}
.navbar-profile{
    display: flex;
    gap:10px;
    position:relative;
}
.navbar .dropdown{
    position:absolute;
    top:100%;
    right:0;
    width:max-content;
    text-decoration:underline;
    background-color:#191919;
    border-radius:2px;
    padding:18px 22px;
   
    display: none;
    z-index:1;
}
.navbar .dropdown p{
    font-size:0.8rem;
    cursor:pointer;
}
.navbar-profile:hover .dropdown{
    display:block;
}

.nav-dark {
    background-color: black !important;
  
  }
  